body{
 font-family: "Avenir Next";
 margin 0;
}
a{
 text-decoration: none;
}
header{
 height: 80px;
 background-color: rgba(34,49,52,0.9);
 width: 100%;
 position: fixed;
 top:0;
 z-index: 10;
}
.logo{
 width:150px;
 margin-top: 20px;
}
.container{
 width: 1300px;
 padding: 0 15px;
 margin : 0 auto:
}
.header-left{
 float: left;
}
.header-right{
 float: right;
 background-color: rgba(255,255,255,0.3);
 padding-top:12px;
}
.header-right a{
 line-height: 65px;
 padding: 0 25px;
 color: white;
 display: block;
}
.top-wrapper{
 height: 400px;
 margin-top: -2px;
 padding: 180px 0 100px 0;
 background-image: url("bg.jpg");
 text-align: center;
 color: #fff;
 background-size: cover;
 opacity: 0.9;
}
.top-wrapper h1{
 opacity: 0.7;
 font-size:50px;
 letter-spacing: 5px;
}
.top-wrapper p{
 opacity: 0.7;
}
.btn-wrapper{
 margin: 20px 0;
}
.btn-wrapper p{
 margin: 10px 0;
}
.signup{
 background-color: #239b76;
}
.facebook{
 background-color: #3b5998;
 margin-right: 10px;
}
.twitter{
 background-color: #55acee;
}
.btn{
 padding: 8px 24px;
 color: white;
 display: inline-block;
 opacity:0.8;
 border-radius: 5px;
}
.fab{
 margin-right: 5px;
}
.lesson-wrapper{
 height: 500px;
 padding-bottom: 80px;
 background-color: #f7f7f7;
 text-align:center;
}
.heading{ 
 padding-top: 60px;
 padding-bottom:30px;
 color: #5f5d60;
}
.heading h2{
 font-weight: normal;
}
.lessons{
 margin-left: 10px;
}
.lesson{
 float: left;
 width: 25%
}
.lesson-icon{
 position: relative;
 margin-left: 5px;
}

.lesson-icon p{
 color: white;
 position: absolute;
 top: 90px;
 left: 2px;
 width: 100%
}
.text-content{
 width: 80%
 display: inline-block;
 margin-top: 20px;
 font-size: 14px;
 color: #b3aeb5;
} 
.heading h3{
 font-weight: normal;
}
.message-wrapper{
 border-bottom: 2px solid #eee;
 padding-bottom: 80px;
 text-align: center;
}
.text a{
 display: block;
}
.message{
 padding: 15px 40px;
 background-color: #5dca88;
 box-shawdow:0 7px #1a7940;
}
footer{
 padding-top:20px;
 height: 50px;
 background-color: #b4b6b1;
 padding-bottom:20px;
 color: #000000;
}
footer img{
 width:125px;
}
footer  p{
 margin-top: -1px;
 font-size: 12px;
 font-weight: 1;
}
